@page
@model AddCredsModel
@{
  ViewData["Title"] = "Add Creds";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <form method="post">
    <div class="form-group">
      <label asp-for="Creds.Email" class="control-label"></label>
      <input required asp-for="Creds.Email" class="form-control"/>
      <span asp-validation-for="Creds.Email" class="text-danger"></span>
      <label asp-for="Creds.Password" class="control-label"></label>
      <input required type="password" asp-for="Creds.Password" class="form-control"/>
      <span asp-validation-for="Creds.Password" class="text-danger"></span>
      <label asp-for="Creds.SiteUrl" class="control-label"></label>
      <input required type="url" asp-for="Creds.SiteUrl" class="form-control"/>
      <span asp-validation-for="Creds.SiteUrl" class="text-danger"></span>
      <label asp-for="Creds.Description" class="control-label"></label>
      <textarea required asp-for="Creds.Description" class="form-control"></textarea>
      <span asp-validation-for="Creds.Description" class="text-danger"></span>
      <input class="btn btn-success" type="submit" value="Submit">
    </div>
  </form>
</div>
