@page "{id:guid}"
@model SimplePasswordManagerService.Pages.Shared.Details

@{
  ViewData["Title"] = "Details Creds";
}

<div>
  <h1>Details</h1>
  @if (Model.Data != null)
  {
    <ul>
      <li>@Model.Data.Email</li>
      <li>@Model.Data.Password</li>
      <li>@Model.Data.SiteUrl</li>
      <li>@Model.Data.Description</li>
    </ul>
  }
</div>
